# Maven/Gradle
target/
build/
!.mvn/wrapper/maven-wrapper.jar


src/main/resources/private-info.properties


# IDE
# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse / STS
.classpath
.project
.settings/
.apt_generated/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Логи и временные файлы
*.log
*.tmp
*.bak
*.swp
.DS_Store

# OS файлы
Thumbs.db